#!/usr/bin/env python3

import requests
import json
import sys
import os
import logging

class ItopObjects(object):
    def __init__(self, model_class):
        '''
        Class that creates itop's ApplicationSolution
        :params objectName['var1','var2']
        '''
        self.fileName = "/var/log/objectsItop.log"
        logging.basicConfig(filename=self.fileName,level=logging.DEBUG)
        if not os.path.isfile(self.fileName): open(self.fileName, 'w+')
        self.itop_url = os.getenv('url', 'http://{{ itop_ip }}')
        self.itop_user = os.getenv('user','{{ itop_user }}')
        self.itop_pwd = os.getenv('pwd','{{ itop_pass }}')
        self.model_class = model_class

    def setJson(self, objectName, orgName):
        logging.info('Creating objects: %s' % object)
        json_data = {
                'operation': 'core/create',
                'class': '%s' % self.model_class,
                'comment': 'Created from API',
                'output_fields': 'id',
                'fields': {
                        'name' : objectName,
                        'description': 'Solucion aplicativa %(name)s' % {'name': objectName },
                        'org_id': "SELECT Organization WHERE name='%(org)s'" % {'org': orgName},
                }
        }
        encoded_data = json.dumps(json_data)
        data={'auth_user': self.itop_user, 'auth_pwd': self.itop_pwd, 'json_data': encoded_data}
        r = requests.post(self.itop_url+'/webservices/rest.php?version=1.0', verify=False, data=data)
        result = json.loads(r.text);
        logging.info(result['message'])

if __name__ == '__main__':
    app = ItopObjects('ApplicationSolution')
    orgName = 'Demo'
{% for host in groups['central'] %}
    app.setJson('{{ hostvars[host].inventory_hostname_short }}', orgName)
{% endfor %}
